.lp {
  height: 37vmin;
  pointer-events: none;
  animation: rotate_image infinite 5s linear;
  transform-origin: 50% 50%;
}

.container {
  position: relative;
}

.turnTable {
  height: 57.5vmin;
  position: absolute;
  top: 0;
  left: 0;
}

.lp {
  position: absolute;
  top: 10vmin;
  left: 13.5vmin;
}

@keyframes rotate_image {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
